/* .timeline {
  position: relative;
  margin: 20px 0;
  padding: 10px 0;
}

.timeline-item {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-time {
  width: 20%;
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  color: #555;
}

.timeline-content {
  width: 75%;
  padding-left: 20px;
  border-left: 2px solid #007BFF;
  position: relative;
}

.timeline-content h3 {
  margin-top: 0;
  color: #007BFF;
}

.timeline-content p {
  margin: 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #007BFF;
  border-radius: 50%;
  z-index: 1;
}

.timeline-content::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #007BFF;
  z-index: 0;
} */


/* General styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

.date-cell {
  /* display: block; */
  width: 25%;
  text-align: left;
  /* margin-bottom: 10px; */
  align-content: start;
  color: #c586c0;
}

.bullet-point-cell {
  /* display: block; */
  width: 5%;
  text-align: left;
  /* margin-bottom: 10px; */
  align-content: start;
  color: #c586c0;
}

td {
  /* padding: 8px; */
  vertical-align: top;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .date-cell {
      /* display: block; */
      width: 100%;
      text-align: left;
      margin-bottom: 5px;
      align-content: start;
      color: #c586c0;
  }

  .highlight,
  .dark {
      padding-left: 0;
  }

  td {
      display: block;
      width: 100%;
  }
}
