html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

header {
    margin-top: 20px;
    /* Added top margin */
    margin-bottom: 5px;
    flex-shrink: 0;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    object-fit: contain;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-between; /* Space between nav items and clock */
    align-items: center; /* Center items vertically */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    flex-grow: 1; /* Allows ul to use available space */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last item in the list (the clock) */
}

nav ul li a {
    text-decoration: none;
    color: #569cd6;
}

nav ul li a.active {
    color: #4ec9b0;
}

nav .clock-container {
    margin-left: auto; /* Pushes the clock to the far right */
}

.clock {
    font-size: 14px; /* Match font size with other nav items */
    color: #569cd6; /* Match color with other nav items */
}

main {
    flex-grow: 1;
    /* Allows the main section to grow and fill the available space */
    overflow-y: auto;
    /* Makes the main section scrollable */
    scrollbar-width: thin;
    /* Makes the scrollbar thin */
    scrollbar-color: #888 #1e1e1e;
    /* Thumb color and track color */
}

main .icon {
    height: 18px;
    width: 18px;
    margin-bottom: -4px;
    fill: white;
}

main .icon:hover {
    filter: invert(33%) sepia(99%) saturate(618%) hue-rotate(175deg) brightness(92%) contrast(101%);
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

p {
    margin-bottom: 20px;
}

a {
    color: #569cd6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active {
    color: #569cd6;
}

.highlight {
    color: #4ec9b0;
}

.dark {
    color: #888;
}

img.favicon {
    border-radius: 50%; /* Makes the favicon circular */
    overflow: hidden; /* Ensures the image respects the rounded corners */
}


footer {
    font-size: 14px;
    border-top: 1px solid #d4d4d4;
    padding-top: 2px;
    margin-top: 25px;
    text-align: center;
    flex-shrink: 0;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.copyright {
    color: #4ec9b0;
}

footer a {
    margin: 5px 10px;
}

@media(max-width: 768px){
    nav ul li {
        font-size: 12px;
        margin-right: 10px;
    }

    .clock {
        font-size: 12px; 
        margin-top: 1.47px;
    }

    .footer-div {
        flex-direction: column;
    }

    .copyright {
        margin-top: -40px;
    }
}